

<ion-view title="BENIFITIARY DETAIL">
  <ion-content>
   <ion-list>
    
      <ion-item>
          
              
            
             <!--<ion-thumbnail item-left>
                <img src="{{benifitiary.img}}" class="avatar" >
              </ion-thumbnail>
              {{benifitiary.name}}
              {{benifitiary.Bank}}
              -->
               
               <!--<ion-avatar item-left>
                  <img src="{{benifitiary.img}}" class="avatar" >
                </ion-avatar>-->
               
               
                <div class="list"> 
                  
                     <img src="{{beneficiaryDetail.img}}">
                      <h2> {{beneficiaryDetail.name}}</h2>
                      <p> Address - {{beneficiaryDetail.Address}}</p>
                      <p> Phone - {{beneficiaryDetail.TelephoneNo}}</p> 
                      <p> Bank Name - <span> {{beneficiaryDetail.Bank}}</span> -  <span> {{beneficiaryDetail.Country}}</span></p>
                      <p> Account No - - <span> {{beneficiaryDetail.AccountNo}} </span> </p>
                      <p> IFSCCode  - - {{beneficiaryDetail.IFSCCode}}</p>
                      <p>Branch - <span> {{beneficiaryDetail.Branch}}</span></p>
                      <p>Currency - <span> {{beneficiaryDetail.Currency}}</span> </p>
                      <p>Currency - <span> {{beneficiaryDetail.Currency}}</span> </p>
                       
                  
                </div>
                
                
                
  
                      
      </ion-item>
      
     <!-- <ion-item>
          <div class="list card">
              <div class="item">
                <h2>nigam</h2>
              </div>

              <div class="item">
                <h2>Sahoo</h2>
              </div>
            </div>
      </ion-item>
      
      <ion-item>
          <div class="list card">
              <div class="item">
                <h2>Abdul</h2>
              </div>

              <div class="item">
                <h2>Kalam</h2>
              </div>
            </div>
      </ion-item>
      -->
      
   </ion-list>
  </ion-content>
</ion-view>
