<ion-view title="Currency Converter">
  <ion-content class="padding">

  <div class="list"> 
    
    
    <label class="item item-input item-floating-label"> 
        <span class="input-label">Enter Amount</span> 
            <input type="text" placeholder="Enter Amount"> 
     </label>
    
    <label class="item item-input item-floating-label"> 
        <span class="label">Primary Currency</span>             
     </label>
     
    <label class="item item-select"> 
        
            <select> 
              <option value='CAD'>CAD - Canadian Dollar</option>
              <option value='CHF'>CHF - Swiss Franc</option>
              <option value='CNY'>CNY - Chinese Yuan Renminbi</option>
              <option value='DKK'>DKK - Danish Krone</option>
              <option value='EUR'>EUR - Euro</option>
              <option value='GBP'>GBP - British Pound</option>
              <option value='HKD'>HKD - Hong Kong Dollar</option>
              <option value='HUF'>HUF - Hungarian Forint</option>
              <option value='INR'>INR - Indian Rupee</option>
              <option value='JPY'>JPY - Japanese Yen</option>
              <option value='MXN'>MXN - Mexican Peso</option>
              <option value='MYR'>MYR - Malaysian Ringgit</option>
              <option value='NOK'>NOK - Norwegian Krone</option>
              <option value='NZD'>NZD - New Zealand Dollar</option>
              <option value='PHP'>PHP - Philippine Peso</option>
              <option value='RUB'>RUB - Russian Ruble</option>
              <option value='SEK'>SEK - Swedish Krona</option>
              <option value='SGD'>SGD - Singapore Dollar</option>
              <option value='THB'>THB - Thai Baht</option>
              <option value='TRY'>TRY - Turkish Lira</option>
              <option value='USD'>USD - US Dollar</option>
              <option value='ZAR'>ZAR - South African Rand</option>
              <option value='KWD' selected="selected">KWD - Kuwaiti Dinar</option>
           </select>
            
         </label>
    
     <label class="item item-input item-floating-label"> 
        <span class="label">Select Currency to covert</span>             
     </label>
     
     <label class="item item-input item-select"> 
         <br/> 
            <select> 
              <option value='CAD'>CAD - Canadian Dollar</option>
              <option value='CHF'>CHF - Swiss Franc</option>
              <option value='CNY'>CNY - Chinese Yuan Renminbi</option>
              <option value='DKK'>DKK - Danish Krone</option>
              <option value='EUR'>EUR - Euro</option>
              <option value='GBP'>GBP - British Pound</option>
              <option value='HKD'>HKD - Hong Kong Dollar</option>
              <option value='HUF'>HUF - Hungarian Forint</option>
              <option value='INR'>INR - Indian Rupee</option>
              <option value='JPY'>JPY - Japanese Yen</option>
              <option value='MXN'>MXN - Mexican Peso</option>
              <option value='MYR'>MYR - Malaysian Ringgit</option>
              <option value='NOK'>NOK - Norwegian Krone</option>
              <option value='NZD'>NZD - New Zealand Dollar</option>
              <option value='PHP'>PHP - Philippine Peso</option>
              <option value='RUB'>RUB - Russian Ruble</option>
              <option value='SEK'>SEK - Swedish Krona</option>
              <option value='SGD'>SGD - Singapore Dollar</option>
              <option value='THB'>THB - Thai Baht</option>
              <option value='TRY'>TRY - Turkish Lira</option>
              <option value='USD'>USD - US Dollar</option>
              <option value='ZAR'>ZAR - South African Rand</option>
              <option value='KWD' selected="selected">KWD - Kuwaiti Dinar</option>
           </select>
         </label> 
     <br /> 
     
         <button class="button button-block button-calm ink" data-ink-color="#9DEAFF" data-ink-opacity="1"> Submit </button> 
       </div>
                

  </ion-content>
</ion-view>





<!--<ion-view title="Currency Converter">
  <ion-content class="padding">

  <div class="list"> 
    <label class="item item-input item-floating-label"> 
        <span class="input-label">First Name</span> 
            <input type="text" placeholder="First Name"> 
     </label>
     <label class="item item-input item-floating-label">
        <span class="input-label">Last Name</span> 
          <input type="text" placeholder="Last Name">
     </label> 
     <br /> 
     <div class="item item-checkbox"> 
       <label class="checkbox"> 
         <input type="checkbox"> 
       </label> 
       I read the terms & conditions 
     </div> 
     <div class="item item-checkbox"> 
       <label class="checkbox"> 
         <input type="checkbox"> 
       </label> 
          Haha, you liar. There are no T&C's 
      </div> 
      <br /> 
      <label class="item item-radio"> 
        <input type="radio" name="group"> 
          <div class="item-content"> Tap Me </div> 
          <i class="radio-icon ion-checkmark"></i> 
      </label>
      <label class="item item-radio"> 
        <input type="radio" name="group"> 
          <div class="item-content"> Or Tap Me </div> 
            <i class="radio-icon ion-checkmark"></i> 
      </label> 
      <label class="item item-radio"> 
        <input type="radio" name="group"> 
          <div class="item-content"> Or Tap Me </div> 
          <i class="radio-icon ion-checkmark"></i> 
      </label> 
      <div class="item range range-positive"> 
        <i class="icon ion-ios-sunny-outline"></i> 
          <input type="range" name="volume" min="0" max="100" value="33">
           <i class="icon ion-ios-sunny"></i> 
       </div> 
       
       <label class="item item-input item-select"> 
         <div class="input-label"> Most Influential Teletubby </div> 
            <select> 
              <option>Laa-Laa</option> 
              <option selected>Tinky Winky</option> 
              <option>Dipsy</option> 
              <option>Po</option> 
              <option>Noo-noo</option> 
           </select>
         </label>
         <button class="button button-block button-calm ink" data-ink-color="#9DEAFF" data-ink-opacity="1"> Submit </button> </div>
                

  </ion-content>
</ion-view>-->
