<ion-view title="Registartion">
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Name: * </span>
        <input type="text" placeholder="your name">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Mobile Number: *</span>
        <input type="text" placeholder="must be valid locally">
      </label>
        <label class="item item-input item-stacked-label">
        <span class="input-label">Verify Mobile Number: *</span>
        <input type="text" placeholder="must be valid locally">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email: *</span>
        <input type="text" placeholder="put your email id">
      </label>

    <label class="item item-input item-stacked-label">
        <span class="input-label">Password: *</span>
        <input type="password">
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Verify Password: *</span>
        <input type="password">
      </label>


      <label class="item item-input item-stacked-label">
        <span class="input-label">Country: *</span>
        <input type="text">
      </label>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Pin *</span>
        <input type="text">
      </label>      
  
</div>

  </ion-content>
</ion-view>
